/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/


body {
    
    background-image: linear-gradient(to bottom, #134d71, #295d80, #3c6d90, #4e7ea0, #608fb0, #649fb9, #6daec0, #7abdc5, #90cabd, #b0d5b6, #d4ddb6, #f7e4bf);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title { 
    padding-bottom: 35px
}

h1{
    color: ghostwhite
}     

h3{
    color: ghostwhite
}

.background {  
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

top {
    border: 0;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: row;
}

.messages{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.affirm {
padding-right: 5px;
}
.mant {
padding-left: 38px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    width: 450px;
    height: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
}

.receive {
    width: 160px;
    height: 25px;
    color: ghostwhite;
    background-color: #134d71;
    font-family: 'Quicksand', sans-serif;
} 

.box {
    background-color: ghostwhite;
    width: 450px;
    height: 40px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.box2 {
    background-color: ghostwhite;
    width: 650px;
    height: 120px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 200px;
    
    border-radius: 8px;
}

.buddha {
    height: 70px;
    width: 70px;
}